/*#####INDEX#####*/

@media only screen and (max-width: 700px) {
    .aboutMe img {
        max-width: 250px;
    }
}

@media only screen and (max-width: 450px) {
    .jumbotron-fluid .container{
      text-align: right;
      padding-right: 5vw;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}

body {
    font-family: 'Karla', serif;
    height: 1100px;
}


/*#####JUMBOTRON#####*/
.jumbotron {
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
        ), 
        url("images/meJumbotron.jpg");
    background-position: right top;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:75vh;
    color: white;
    margin-bottom: 20px;
    margin-top: -56px;
}

.jumbotron-fluid p {
    transform: translateY(-30px);
    font-size: 3.5rem;
    font-weight: 700; 
}

.jumbotron-fluid .container {
    padding-top: 15vh;
    padding-left: 3vw;
}



.jumbotron-fluid h1 {
    font-size: 10rem;
    font-weight: 700;
}

/*.jumbotron-fluid h1 span {
    -webkit-text-stroke: .7px #073323;
    -webkit-text-fill-color: white;
    }*/

/*#####Navbar#####*/

.navbar {

    transition: .6s;
    background-color: transparent!important; 
}


.navbar-brand {
    font-weight: 500;
}


.nav-link {
    color: black!important;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: 1s;
}

.navbar-brand {
    padding-left: 7px;
    padding-right: 7px;
}

.solidBgr {
    background-color: rgb(224, 11, 136)!important;
    transition: 0.75s;
}

/*#####About Me#####*/

.aboutMe {
    opacity: 0;
    transform: translateY(20px);
}

.aboutMeChange {
    transition: opacity 1s, transform 1s;
    opacity: 1;
    transform: translateY(0);
}

.aboutMe h1 {
    margin-left: 30px;
}


.aboutMe .row {
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

.aboutMeText {
    text-align: left;
    padding-left: 5vw;
}

.aboutMe img {
    width: 300px;
    border-radius: 100%;
}

/*#####Photo Gallery#####*/

.photoGallery a {
    color: white!important;
    text-decoration: none;
}

.photoGallery .jumbotron-fluid {
    background-image: url("galleryImages/DSC_0249.JPG");
    margin-bottom: 10px;
}


.photoGallery .jumbotron-fluid h1 {
        font-size: 4.5rem;
}

.photoGallery .jumbotron-fluid p img {
    width: 36px;
    height: 40px;
    opacity: 1!important;
}

.photoGallery .jumbotron-fluid p {
    padding-top: 30px;
    font-size: 2rem;
    padding-left: 20px;
}


.photoCol {
    padding-right: 2.5px;
    padding-left: 2.5px;

}

.photoGallery img {
    width:100%;
    padding-bottom: 5px;
    transition: opacity 1s;
    opacity: 0;
}

.moveImg {
    transition: opacity 1s;
    opacity: 1!important;
}

@media only screen and (max-width:575px) {
    .photoGallery img {
      opacity: 1;
    }
}

