/*#####INDEX#####*/

@media only screen and (max-width: 700px) {
    .aboutMe img {
        max-width: 250px;
    }
}

@media only screen and (max-width: 450px) {
    .mainJumbotron {
        background-position: 85%!important;
    }
    .jumbotron-fluid .container{
      text-align: right;
      padding-right: 5vw;
    }
    .photoGallery .mainJumbotron h1 {
        font-size: 3.5rem!important;
    }
}


body {
    font-family: 'Karla', serif;
    height: 1100px;
    color: #1c2a30;
    background-color: #eeeeee;
}


/*#####JUMBOTRON#####*/
.mainJumbotron {
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
        ), 
        url("images/meJumbotron.jpg");
    background-position: right top;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    color: white;
    margin-bottom: 0px;
}

.jumbotron-fluid p {
    transform: translateY(-30px);
    font-size: 3.5rem;
    font-weight: 700; 
}

.mainJumbotron .container {
    padding-top: 30vh;
    padding-left: 3vw;
}

.jumbotron-fluid h1 {
    font-size: 10rem;
    font-weight: 700;
}



/*#####Navbar#####*/

.navbar {
    transition: .6s;
    background-color: transparent!important; 
    position: fixed;
    width: 100vw;
    z-index: 99;
}


.navbar-brand {
    font-weight: 500;
}


.nav-link, .navbar-brand {
    color: white!important;
}

.navbar .active {
    font-weight: bold;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 1s;
}

.navbar-brand {
    padding-left: 7px;
    padding-right: 7px;
}

.solidBgr {
    background-color: #8a053f!important;
    opacity: 0.9;
    transition: 0.75s;
}

.solidBgr a, .solidBgr .nav-link {
    color: white!important;
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}



/*#####Index Sections#####*/

.indexSection h1 {
    margin-left: 30px;
    text-align: left;
}


.indexSection .row {
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
}

.indexSection p, .indexSection ul {
    padding-left: 5vw;
    text-align: left;
}


/*#####About Me#####*/

.aboutMe {
    padding-top: 80px;
    font-size:1.8rem;
    padding-bottom: 150px;
}

.aboutMe p {
    text-align: center;
    display: block;
    margin-bottom: -16px;
}

.aboutMe h1 {
    text-align: center;
}

.aboutMe a {
    color: #8d2b22;
}


.aboutMe {
    transition: opacity 1s, transform 0.75s;
    opacity: 0;
    transform: translateY(40px);s
}


.aboutMeChange {
    transition: opacity 1s, transform 1s;
    opacity: 1;
    transform: translateY(0);
}


/*#####Travel Index Section#####*/

.travel {
    padding-top: 30px;
    padding-bottom: none;
    text-align: center;
}


.travel .btn-primary, .experienceBody .btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f00e70;
    border: none;
}

.travel .btn-primary:hover, .experienceBody .btn-primary:hover{
    background-color: #8a053f;
    border: none;
    transition: box-shadow 1s, background-color 0.5s;
    box-shadow: 4px 4px #dddddd;
}

.travel .col-md {
    height:80vh;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    background-image: url("images/meBlueMountains.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-attachment: fixed;
    background-position: right;
}

.travel .label {
    padding: 0px;
    margin: 0px;
    writing-mode: vertical-rl;
    height: 80vh;
    font-size: 1.2rem;
}

.travel h1 {
    text-align: center;
}



@media only screen and (max-width: 800px) {
    .travel .col-md {
        background-size: cover;
        margin-right: 0px;
    }
    .travel .label {
        writing-mode: horizontal-tb;
        height: 50px;
    }
}

@media only screen and (max-width: 450px) {
    .travel .col-md {
        background-size: cover;
        margin-right: 0px;
        background-position: 50%;
    }
}

.travelText {
    transition: opacity 1s, transform 0.75s;
    opacity: 0;
    transform: translateY(40px);
}


.travelChange {
    transition: opacity 1s, transform 1s;
    opacity: 1;
    transform: translateY(0);
}

/*#####More Info#####*/

.moreInfo {
    background-color: #8a053f;
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: 5px;
}

.moreInfoChange {
    transition: opacity .5s;
    opacity: 1;
}

.moreInfo a {
    cursor: pointer;
}

.moreInfo svg{
    margin: 5px;
    margin-right:40px;
    
}

/*#####Jumbotron on General Pages#####*/
.photoGallery .jumbotron-fluid, .experienceBody .jumbotron-fluid{
    background-image: url("galleryImages/DSC_0249.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
    background-position: center;
    margin-bottom: 10px;
}


.photoGallery .jumbotron-fluid h1, .experienceBody .jumbotron-fluid h1{
        font-size: 4.5rem;
}

.photoGallery .jumbotron-fluid p img {
    width: 36px;
    height: 40px;
    opacity: 1!important;
}

.photoGallery .jumbotron-fluid p, .experienceBody .jumbotron-fluid p {
    padding-top: 30px;
    font-size: 2rem;
    padding-left: 20px;

}

.photoGallery a, .experienceBody a {
    color: white!important;
    text-decoration: none;
}

/*#####Photo Gallery#####*/

.photoGallery .nav-link {
    color: white!important;
}


.photoCol {
    padding-right: 2.5px;
    padding-left: 2.5px;

}

.photoGallery img {
    width:100%;
    padding-bottom: 5px;
    transition: opacity 1s;
    opacity: 0;
}

.moveImg {
    transition: opacity 1s;
    opacity: 1!important;
}

@media only screen and (max-width:575px) {
    .photoGallery img {
      opacity: 1;
    }
}

/*#####Tech Experience#####*/

.experienceBody .jumbotron-fluid {
    background-image: url("galleryImages/DSC_0153.jpg");
}

.experienceBody .jumbotron-fluid p img {
    max-width: 45px;
    max-height: 36px;
    opacity: 1!important;
} 


.experienceBody .row {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
    margin-bottom: 50px;
    min-height: 90vh;
    font-size: 1.8rem;
}

.experienceBody .row .picture {
    text-align: center;
}

#fccLogo {
    height: 55vh;
}

.experienceBody .row img {
    height: 75vh;
}


.experienceBody .bold {
    font-weight: bold;
}

.experienceBody .btn-danger, .experienceBody .btn-primary {
    margin-top: 35px;
    font-size: 1.8rem;
    border:none;
}

.experienceBody .btn-danger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f00e70;
    border: none;
}

.experienceBody .btn-danger:hover{
    background-color: #f00e70;
    border: none;
    transition: box-shadow 1s, background-color 0.5s;
    box-shadow: 4px 4px #dddddd;
}

.experienceBody .row p {
    margin-bottom: 40px;
}

.experienceBody .pinkSection {
    background-color: #8a053f;
    color: white;
    padding:none;
}

.experienceBody footer, .photoGallery footer {
    opacity: 1;
}

@media only screen and (max-width: 800px) {

    .experienceBody .row, .experienceBody .btn-danger, .experienceBody .btn-primary {
        font-size: 1.2rem;
        text-align: center;
    }
    .experienceBody img {
        max-height: 250px;
        margin-bottom: 50px;
    }
    .pinkSection img {
        margin-bottom: 0px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .experienceBody .mainJumbotron h1 {
            font-size: 3.5rem!important;
    }
    .experienceBody .mainJumbotron .lead {
        font-size: 1.5rem!important;
    }
    .experienceBody .mainJumbotron .lead img {
        transform: translateY(22px);
    }
    #fccLogo {
        max-height: 150px;
    }

}